.terraform/
terraform.tfstate
terraform.tfstate.*
terraform.tfvars
tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
build/
*.zip
.DS_Store
__pycache__/
*.pyc
.venv/
venv/
*.log
